body {
    margin: 0px;
   background-color: slategray;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#wrapper {
    max-width: 1100px;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

#add-person-to-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.style-of-add-person {
    height: 30px;
}

.person-age, .person-gender{
    width: 80px;
}

.person-exersice {
    width: 300px;
}

#color-header{
    height: 150px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#filters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 15px;
}

.style-of-filter {
    height: 30px;
}

body > div > div > div > form > button {
    height: 35px;  
}

#headers {
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    border-bottom: 3px solid darkslategrey;
    background: lightgray;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: 80px 120px 80px 120px repeat(3, 1fr);
  }

.button-action {
    text-align: center;
}

.button-action-remove {
    width: 120px;
    height: 25px;
    margin: 0px auto;
}

#persons {
    background: lightgray;
    padding: 10px;
}

.person {
    padding: 25px;
    gap: 20px;
    display: grid;
    grid-template-columns: 80px 120px 80px 120px repeat(3, 1fr);
  }
  
.person div {
    display: flex;
    align-items: center;
  }
  
.person:nth-child(odd) {
    background: #e29d1d;
}

#info {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 3px solid darkslategrey;
    background: lightgray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}